@media (max-width: 980px) {
	.works>.main-wrapper>div {
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

@media (max-width: 900px) {
	.structure__nav {
		flex: 0 0 20%;
	}

	.structure__content {
		flex: 0 0 80%;
	}
}

@media (max-width: 880px) {
	.news__item {
		width: 48%;
		margin-bottom: 50px;
	}

	.news__item-smartphone {
		display: block;
	}

	.structure__nav-ul {
		display: flex;
		align-items: center;
	}

	.structure__wrapper-flex {
		flex-direction: column;
	}

	.structure__nav {
		margin-bottom: 5px;
	}
}

@media (max-width: 780px) {
	.navigation-area:before {
		height: 100px;
	}

	.wrapper__about-us>.main-wrapper>div {
		flex-direction: column;
	}

	.works__container {
		flex: 0 0 100%;
	}
}

@media (max-width: 768px) {
	.main-menu__burgers {
		display: block;
	}

	.main-menu__container {
		width: 0;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
	}

	.telephone {
		color: $MainSource-900;
	}
}

@media (max-width: 720px) {
	header {
		height: auto;

		&>.main-wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.main-menu {
		margin: 10px 0;
	}

	.footer__container-shell {
		flex-direction: column;
		margin: 0 0 30px 0;
	}

	.footer__list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer__container-information {
		width: 100%;
		margin: 0 0 25px 0;
	}

	.footer__container-map {
		width: 100%;
	}
}

@media (max-width: 640px) {
	h1 {
		font-size: 36px;
		line-height: unset;
	}
}

@media (max-width: 600px) {
	.structure__content-block-img {
		display: none;
	}
}

@media (max-width: 511px) {
	#parallax__h3 {
		margin: 20% 0 30px 0;
		writing-mode: vertical-lr;
		text-orientation: upright;
		letter-spacing: 5px;
		font-size: clamp(24px, 22vw, 160px);
	}

	.structure__content-block-information h3 {
		font-size: 22px;
	}
}

@media (max-width: 425px) {
	.navigation-area:before {
		height: 50px;
	}

	.news__item {
		width: 100%;
	}

	.news__item-smartphone {
		display: none;
	}

	.works__container>h3 {
		text-align: center;
	}
}

@media (max-width: 375px) {
	.navigation-area__brand {
		font-size: 20px;
	}

	.structure__department-details {
		flex-direction: column;
		align-items: flex-start;
	}

	.structure__manager-info {
		margin: 0 0 20px 0;
	}

	.footer__container-information {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer__list {
		width: 50%;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0px;
		}
	}
}