* {
	margin: 0;
	padding: 0;
	border: 0;
	text-wrap: balance;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: "Didact Gothic";
	transition:
		color 0.4s ease-in-out,
		background-color 0.4s ease-in-out,
		opacity 0.4s ease-in-out,
		box-shadow 0.4s ease-in-out,
		transform 0.2s ease-in-out,
		border-color 0.4s ease-in-out,
		font-size 0.4s ease-in-out,
		text-shadow 0.4s ease-in-out,
		backdrop-filter 0.4s ease-in-out;
}

::-webkit-scrollbar {
	width: 0;
}

::selection {
	color: var(--white);
	background-color: var(--accent-900);
}

::-moz-selection {
	color: var(--white);
	background-color: var(--accent-900);
}

body {
	min-height: 100vh;
	line-height: 1.6;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	font-family: "TT Lakes Neue Condensed";

	>span {
		font-family: "TT Lakes Neue Condensed";
	}
}

h1 {
	font-size: 48px;
	line-height: 58px;
}

h2 {
	font-size: 30px;
	line-height: 40px;
	color: var(--tx);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	text-shadow: 0px 0px 10px var(--shadow-t-h);

	&>span {
		position: relative;

		&::after {
			content: "";
			height: 2px;
			background: var(--tx);
			width: 40%;
			left: 30%;
			top: 120%;
			position: absolute;
		}
	}
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.wrapper__about-us,
.structure,
.vacancy,
footer {
	padding: 60px 0;
}

@media (max-width: 640px) {
	h1 {
		font-size: 36px;
		line-height: unset;
	}
}

@media (max-width: 300px) {
	h3 {
		font-size: 22px;
	}
}

@font-face {
	font-family: "Didact Gothic";
	font-weight: 400;
	font-style: normal;
	src: url(../fonts/DidactGothic-Regular.ttf);
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-XLight.ttf);
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-DBold.ttf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-XBold.ttf);
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-Black.ttf);
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-XLightIt.ttf);
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-LightIt.ttf);
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	font-weight: 600;
	font-style: italic;
	src: url(../fonts/TTLakesNeueCond-DBoldIt.ttf);
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-BoldIt.ttf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-XBoldIt.ttf);
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-BlackIt.ttf);
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "TT Lakes Neue Condensed";
	src: url(../fonts/TTLakesNeueCond-BoldIt.ttf);
	font-weight: bold;
	font-style: italic;
}