@media screen and (min-width: 800px) {
	.main-menu__item:hover::before {
		opacity: 1;
		width: 100%;
	}

	.card__information button:hover {
		background-color: $MainSource-600;
	}


	.structure__nav-ul li:hover {
		background: #c1ddc250
	}

	.structure__content-email:hover::before {
		width: 100%;
	}

	.vacancy__button:hover {
		background-color: $MainSource-600;
	}

	.footer__list li:hover {
		font-size: 18px;
		color: $background-color;
	}
}