@import "Zeroing-out.scss";

@import "Variables.scss";

h1 {
	font-size: 48px;
	font-weight: 600;
	line-height: 58px;
}

h2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 40px;
	color: #444444;
	text-align: center;
	text-transform: uppercase;

	&>span {
		position: relative;

		&::after {
			content: "";
			height: 2px;
			background: #444444;
			width: 40%;
			margin-left: -20%;
			left: 50%;
			top: 120%;
			position: absolute;
		}
	}
}

h3 {
	font-size: 24px;
	font-weight: 600;
}

.wrapper__about-us,
.structure,
footer {
	padding: 60px 0;
}

.wrapper__parallax {
	min-height: 100%;
}

.parallax {
	min-height: 100vh;
}

.parallax__body {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0 30px;

	h3 {
		display: flex;
		font-size: 62px;
		color: white;
		letter-spacing: 5px;
		margin: 0px 0 30px 0;
		align-items: center;
		padding: 15px 0 0 0px;

		&::before {
			background: #00d5c3;
			content: "";
			height: 5px;
			left: 0;
			position: absolute;
			top: 0;
			width: 135px;
		}

		&::after {
			background: #00d5c3;
			content: "";
			height: 135px;
			left: 0;
			position: absolute;
			top: 0;
			width: 5px;
		}
	}
}

.parallax__content {
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}

.parallax__content.main-wrapper {
	max-width: 1280px;
	margin: 10% auto 0;
}

.parallax__images {
	position: absolute;
	width: 120%;
	height: 120%;
	top: -10%;
	left: -10%;
	z-index: 1;
}

.images-parallax__item {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.images-parallax__background {
	background: url("../Source/Img/main-board__background.jpg") top / cover no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	&::before {
		background: linear-gradient(180deg, #00000000, rgba(255, 255, 255, 0), #272432);
		display: block;
		content: "";
		width: 100%;
		height: 100%;
	}
}

.navigation-area {
	width: 100%;
	height: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: $accent-color;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 300px;
		transform: translate(0px, -99%);
		background: linear-gradient(180deg, #00000000, $accent-color);
	}
}

.nav-wrapper {
	display: flex;
	align-items: center;

	&>div {
		display: flex;
		align-items: center;
		margin: 5px 0;
	}

	span {
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 1px;
		color: white;
		margin: 0px 15px 0 10px;
	}
}


.main-wrapper {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1170px;
}

.logo {
	max-width: 55px;
}

.main-menu {
	margin-left: auto;

	&>ul>li {
		display: inline-block;
		font-size: 15px;
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		letter-spacing: 1px;
		color: rgb(255, 255, 255);
		margin-right: 20px;
		cursor: pointer;
		position: relative;

		&>a {
			text-decoration: none;
			color: inherit;
		}

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: "";
			width: 10%;
			height: 3px;
			background: #00d5c3;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 25px;
			opacity: 0;
			transition-duration: 0.3s;
		}

		&:hover::before {
			opacity: 1;
			width: 100%;
		}
	}
}

.wrapper__news {
	background-color: $background-color;
	position: sticky;
}

.main__content-news {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news__item {
	width: 31%;
	margin-bottom: 30px;
}

.news__item .card {
	height: 100%;
}

.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__image {
	height: 250px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.card__content {
	padding: 10px;
	box-shadow: 4px 4px 18px 0px #cccccc;
	display: flex;
	height: inherit;
	justify-content: space-between;
	flex-direction: column;

	h3 {
		margin: 0 0 10px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 31px;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background: rgb(68 68 68);
		}
	}

	p {
		font-size: 14px;
		color: #666666;
		font-weight: 600;
	}
}

.card__information {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;

	&>button {
		font-size: 14px;
		font-weight: 600;
		background-color: #eeeeee;
		padding: 10px 15px;
		transition: 0.4s;
		cursor: pointer;

		&:hover {
			background-color: #d7d7d7;
		}
	}

	span {
		font-size: 14px;
		color: $accent-color;
		font-weight: 600;
		margin: 15px 0 0;
	}
}

.news__block-item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
}

.more__news {
	font-size: 20px;
	font-weight: 600;
	background-color: #eeeeee;
	padding: 10px 15px;
	margin: 30px auto 10px;
	transition: 0.4s;
	cursor: pointer;


	&:hover {
		background-color: #d7d7d7;
	}

	a {
		color: $accent-color;
	}
}

.news__item:hover .box-icon {
	background: #161c35;
}

.wrapper__about-us {
	background: url(../Source/Img/banner-bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.wrapper__about-us::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(33, 42, 73, 0.6);
	z-index: 1;
}

.wrapper__about-us>.main-wrapper {
	position: relative;
	z-index: 2;
}

.wrapper__about-us>.main-wrapper>div {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.wrapper__about-us h2 {
	color: #ffffff;

	&>span::after {
		background: #ffffff;
	}
}

.works__container {
	flex: 0 0 60%;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	line-height: 24px;
	color: #ffffff;

	&>h3 {
		margin-bottom: 30px;
	}

	&>ul {
		margin-top: 20px;
		list-style: none;

		&>li {
			padding-left: 22px;
			position: relative;
			margin-bottom: 15px;

			&::before {
				content: "\f105";
				position: absolute;
				left: 0;
				font-family: fontawesome;
				color: #00d5c3;
			}
		}
	}
}

.structure {
	background-color: $background-color;
	position: sticky;
}

.structure__wrapper-flex {
	display: flex;
	margin-top: 30px;
}

.structure__nav {
	flex: 0 0 25%;
}

.structure__nav-ul {
	li {
		padding: 12px 10px 12px 0;
		font-size: 20px;
		color: #000000;
		font-weight: 600;
	}
}

.structure__content {
	flex: 0 0 75%;
	padding: 15px;
	border: 1px solid #cac6c6;
	border-radius: 5px;
}

.structure__content-wrapper {
	display: flex;
}

.structure__content-block-img {
	padding: 0 10px 0 0;
	border-right: 1px solid #cac6c6;

	img {
		border-radius: 3px;
	}
}

.structure__content-block-information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 0 0 8px;

	h3 {
		margin: 0 0 20px;
	}
}

.structure__content-block-contacts {
	display: flex;
	flex-direction: column;

	span {
		margin: 0 0 10px;
	}
}

@import "Media.scss";